@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    font-family: 'Lobster', cursive;
}

html { 
    background-color: rgb(179, 165, 122);
}

body { 
    background-color: rgb(243, 225, 187); 
    width: 80%;
    margin: 2% auto;
    border-radius: 10px;
}

.content { 
    padding: 20px;
} 

.content input, select {
    margin-top: 10px;
    display: flex;
}

h1 { 
    color: #8f6637; 
    font-size: 30px;
}

h2 { 
    color: #8f6637; 
    font-size: 24px;
}

a { 
    color: #8f6637; 
}

table, th, td {
    border: 1px solid #8f6637;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

nav { 
    background: rgb(182, 181, 181); 
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}

nav ul li { 
    display: flex; 
    list-style: none; 
    margin: 5px;
} 